.score{
    background-color: white;
    border: 3px solid red;
    width: 100px;
    color: black;
}
.start{ 
    color: white;
    text-align: center;
}
.start h1 {
    margin-bottom: -1.5rem;
}

body{
    background-color: black;
}
canvas{
    position:absolute;
    top:0;bottom:0;right:0;left:0;
    margin:auto;
   }

.modal {
    top: 20%;
}
.modal-footer{
    justify-content: center;
}
.sharebox {
    position: relative;
    display: inline-block;
    padding: 0.8rem 1rem;
    padding-left: 2.2rem;

    background-color: #FF315A;
    -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;


    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rum Raisin', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

.sharebox:hover {
    background-color: #363636;

    color: #e939c2;
}

.sharebox > .fb-icon {
    position: absolute;
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    bottom: 1rem;
    left: 0.6rem;

    background-image: url(../icons/fb-icon.svg);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

.sharebox:hover > .fb-icon {
    background-image: url(../icons/fb-icon-pink.svg);
}
.share img{
    width: 30px;
}
.share{    
    top: 88%;
    position: absolute;
    text-align: center;
    color: white;
    left: 32%;
}